:root{
  /* font */
  --font-family : 'Noto Sans KR', sans-serif;

  /* font size */
  --font-size-300: 300;
  --font-size-400: 400;
  --font-size-700: 700;

  /* color */
  --primary-color : #f57c00;
  --secondary-color : #ffec25;
  --black-color : #1b1b1b;
  --white-color : #f5f5f5;

  /*
  - 제목(좋아하는 관심사..) : 20px
  - 소제목(이메일...비밀번호) : 17px
  - 일반 p태그 : 14px
  */
}
.logo{
  cursor: pointer;
}
.logo_image {
  position: relative;
  height: 55px;
  width: 55px; 
}
.loginBtnwrap{
  width: 20%;
  right: 0%;
  position: absolute;
  float: right;
}
.loginBtn{
  position: relative;
  cursor: pointer;
  float: right;
}
.header{
  
  background-color: orange;
  position: relative;
}
.body{
  padding-top: 100px;
  padding-bottom: 100px;
  position: static;
  background-color: #f5f5f5;
  text-align: center;
}
.center-logo{
  position: static;
  height: 200px;
  width: 200px;
}
.qrBtn{
  position: static;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  width: 70px;
}
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}


/* PC (해상도 1024px)*/
@media all and (min-width:1024px) { 
  /*스타일입력*/
}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
   /*스타일입력*/
  }

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
   /*스타일입력*/
  }