.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.loginModal {
  width: 480px;
  height: 621px;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;      
}
.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
}
.modalContents {
  margin: 0;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.signinIcon {
  width: 150px;
  margin: 0 auto;
}

.loginId {
  margin-top: 30px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}
input::placeholder {
  color: #999999;
}
.loginPw {
  margin-top: 15px;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
}
.loginMid {
display: flex;
justify-content: space-between;
align-items: center;
}
.autoLogin {
  cursor: pointer;
  font-size: 12px;
  color: #8d8d8d;
  line-height: 3;
}
.loginBtn {
  border : 2px solid #f57c00;
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: #ffffff;
  color: #f57c00;
  line-height: 1px;
  margin-top: 20px;
  margin-bottom: 12px;
  border-radius: 50px;
}

.socialBox {
margin-bottom: 30px;
}

.google {
  background-color: #e57373;
  color : #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.googleLogo {
  width: 25px;
  height: 25px;
}

.googleText {
  width: 300px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

  
.loginEnd {
  text-align: center;
  font-size: 15px;
}

.loginLine {
  color: #1b1b1b;
  font-size:  14px;
  margin-bottom: 35px;
}

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.noUser {
  text-decoration: underline;

}